<div>
  <button class="btn btn-primary"><a href="#/emitenteCad">Novo</a></button>
  <table class="table">
    <thead>
      <tr>
        <td>_Id</td>
        <td>Codigo</td>
        <td>Razão Social</td>
        <td>Fantasia</td>
        <td>CNPJ</td>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="emitente in EmitenteController.emitentes">
        <td>{{emitente._id}}</td>
        <td>{{emitente.codigoInterno}}</td>
        <td>{{emitente.razao}}</td>
        <td>{{emitente.fantasia}}</td>
        <td>{{emitente.cnpj}}</td>
      </tr>
    </tbody>
  </table>
</div>
